<p>
  <b>Submitted Message</b>
</p>

<p>
  <%= @content %>
</p>

<p>
  Drumroll, please.........
</p>

<p>
  <b>Predicted Category:</b>
  <%= @prediction %>
</p>

<%= link_to 'Try Another Prediction', '/' %>
